body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dropdown-toggle-arrow {
  font-size: 0.9rem;
  margin-left: 5px;
}
.dropdown-submenu .submenu-arrow {
  font-size: 1rem;
  margin-left: 10px;
  color: black;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -1px;
  z-index: 1000;
}
.dropdown-submenu:hover .submenu {
  display: block;
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-submenu span.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-toggle::after {
  display: none !important;
}

.hide-scrollbar-lovestories::-webkit-scrollbar,
.hide-scrollbar-romanticdramas::-webkit-scrollbar,
.hide-scrollbar-heartfeltmovies::-webkit-scrollbar,
.hide-scrollbar-romanticmovies::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar-lovestories,
.hide-scrollbar-romanticdramas,
.hide-scrollbar-heartfeltmovies,
.hide-scrollbar-romanticmovies {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.card-hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
  border-radius: 8px; 
  overflow: hidden; 
}

.card-hover-effect:hover {
  transform: scale(1.05); 
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15); 
  background-color: rgba(0, 0, 0, 0.1); 
}

.card-hover-effect .card-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-hover-effect:hover .card-content {
  opacity: 1;
}
@keyframes shake-left-right {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

.home-ul:hover {
  animation: shake-left-right 0.5s ease;
}

